body {
    font-family: 'Roboto', sans-serif;
    color: #434455
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logos {color:#2E2F42}

.link {text-decoration: none;}

.list {list-style: none;}

.item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.item:hover {color:#404bbf;}

.item:focus {color:#404bbf;}

.contakt {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.contakt:hover {color:#404bbf;}

.contakt:focus {color:#404bbf;}

